<div id="menu" class="padding-bottom-20">
  
  <h1 class="col two">
		<a href="@root_path/">@name</a>
		<em>@profession</em>
	</h1>
	
	<h2 class="col four collect">
    if @student do
      <a href="@url">@student</a>
    endif
    if @status do
      <em>@status</em>
    endif
		if $children do
			foreach $children do
				if @student do
				  <a href="@url">@student</a>
				endif 
			endforeach
			if @title do
			  <em>@title</em>
			endif
		endif
		&nbsp;
	</h2>
	
	<p class="col four" style="text-align: right;"><em> :pages </em></p>
	
  <hr/>
	
</div>