get "/semesters" do
  if $children do
	foreach $children do
		<p class="category col two">
			<span>@topics</span><br/>
			<em>@title</em><br/><br/>
			<em><i>&ndash; @description</i></em>
		</p>
    <ul class="project-list col seven">
          if $children do
        	foreach $children do
		    	<li>
		    		<div class="thumbnail col two">
		    			<a href="@url"><img src="@thumb" alt=""></a>
		    		</div>
		    		<div class="summary col two">
		    			<p><a href="@url">@title</a></p>
		    			<p><em>@students</em></p>
		    			<p><em class="background">&ndash; @shortkeywords</em></p>
		    		</div>
		    	</li>
					endforeach
					endif
    </ul>
	endforeach
  endif
end