
:header
		<div id="container">
			<h1 class="col two">
				<a href="@root_path/">@name</a>
				<em>@profession</em>
			</h1>
			<h2 class="col two">
				&nbsp;
			</h2>
			<p class="col six" style="text-align: right;"><em> :pages </em></p>
			<hr>
			<div id="content" class="col ten">
				<p class="para col two"><em>@title</em></p>
				<div class="description col eight">
					<h1 style="margin-top:-9px;">Digitale Klasse<br/>
          <em>Prof. Joachim Sauter</em>
          <em>Prof. Jussi Ängeslevä</em>
          </h1>
          <em>
          <p>
          University of the Arts, Berlin<br/>
          Grunewaldstr. 2-5<br/>
          10823 Berlin-Schöneberg<br/>
          Germany
          </p>

          <p>
          +49 (0)30 3185-2204<br/>
          <a href="mail:digital@udk-berlin.de">digital@udk-berlin.de</a>
          </p>
          </em>
				</div>
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
:footer