:header
		<div id="container">
			<h1 class="col two">
				<a href="@root_path/">@name</a>
				<em>@profession</em>
			</h1>
			<h2 class="col two">
				&nbsp;
			</h2>
			<p class="col six" style="text-align: right;"><em> :pages </em></p>
			<hr>
			<div id="content" class="col ten">
				<p class="para col two"><em>@title</em></p>
				<div class="description col eight">
					:media
					@content
				</div>
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
:footer