
:header
		<div id="container">
			<h1 class="col two">
				<a href="@root_path">@name</a>
				<em>@profession</em>
			</h1>
			<h2 class="col four collect">
				foreach $children do
					if @student do
					  <a href="@url">@student</a>
					endif 
				endforeach
				<em>@title</em>
			</h2>
			<p class="col four" style="text-align: right;"><em> :pages </em></p>
			<hr>
			<div id="content" class="col seven">
				:media
			</div>
			<div class="description col three" style="font-size: 10px;">
				<p><a href="@root_path/"><span style="font-size: 13px;">@title</span></a></p>
				<p><em><span style="font-size: 11px;">@date</span></em></p>
				<p><span style="font-size: 8px;">&nbsp;</span></p>
				<p><em class="background">&ndash; <span style="font-size: 11px;">@keywords</span></em></p>
				<p><span style="font-size: 8px;">&nbsp;</span></p>
				@content
				
				<p><span style="font-size: 8px;">&nbsp;</span></p>
				<p>
				:previous-page
				:next-page
				</p>
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
:footer