 :head
		<div id="container">
			:menu
			<div id="content" class="col seven">
				:media
			</div>
			<div class="description col three" style="font-size: 10px;">
				<p><span style="font-size: 13px;">@title</span></p>
				<p><em><span style="font-size: 11px;">@date</span></em></p>
				<p><span style="font-size: 8px;">&nbsp;</span></p>
				<p><em class="background">&ndash; <span style="font-size: 11px;">@keywords</span></em></p>
				<p><span style="font-size: 8px;">&nbsp;</span></p>
				@content
				<p><span style="font-size: 8px;">&nbsp;</span></p>
				<p>
				:previous_page
				:next_page
				</p>
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
 :foot