
:header
		<div id="container">
			<h1 class="col two">
				<a href="@root_path/">@name</a>
				<em>@profession</em>
			</h1>
			<h2 class="col two">
				foreach $parent do
					@student
					<em>@status</em>
				endforeach
			</h2>
			<p class="col six" style="text-align: right;"><em> :pages </em></p>
			<hr>
			<div id="content" class="home col eleven">
				<p class="category col two">
					<em>About</em>
				</p>
				<ul class="project-list col seven">
					foreach $parent do
						<li><img src="@thumb" style="float: left; padding: 0 20px 5px 0;"/><em>@content</em></li>
					endforeach
				</ul>
				:projects_list
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
:footer