 :head
		<div id="container">
			
			:menu
			
			<div id="content" class="home col eleven">
				<p class="category col two">
					<em>About</em>
				</p>
				<ul class="project-list col seven">
					foreach $all_children[0:1] do
						<li><img src="@thumb" style="float: left; padding: 0 20px 5px 0;"/><em>@content</em></li>
					endforeach
				</ul>
				foreach $all_children do
					<p class="category col two">
						<em>Projects</em>
					</p>
					<ul class="project-list col seven">
						foreach $all_children do
						:project_thumb
						endforeach
					</ul>
				endforeach
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
 :foot