<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@title, @name's Portfolio</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
	</head>
	<body>
		<div id="container">
			<h1 class="col two">
				<a href="@root_path/">@name</a>
				<em>@profession</em>
			</h1>
			<h2 class="col two">
				foreach $parent do
					@student
					<em>@status</em>
				endforeach
			</h2>
			<p class="col six" style="text-align: right;"><em> :pages </em></p>
			<hr>
			<div id="content" class="home col eleven">
				<p class="category col two">
					<em>About</em>
				</p>
				<ul class="project-list col seven">
					foreach $all_children[0:1] do
						<li><img src="@thumb" style="float: left; padding: 0 20px 5px 0;"/><em>@content</em></li>
					endforeach
				</ul>
				foreach $all_children do
					<p class="category col two">
						<em>Projects</em>
					</p>
					<ul class="project-list col seven">
						foreach $all_children do
						:project_thumb
						endforeach
					</ul>
				endforeach
			</div>
			<hr>
			<p id="footer" class="col six">
				&copy; Copyright @name @current_year, Build width <a href="http://www.staceyapp.com">Stacey</a>
			</p>
		</div>
	</body>
</html>